<div class="row">
  <div class="col-md-6">
    <h3>Monday, May 16</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td>Overview and introductions</td> </tr>
      <tr> <td>1:15</td>  <td><a href="https://smcclatchy.github.io/statistical-inference-for-biology/02-inference-rv-dists/index.html" target="_blank">Inference</a></td> </tr>
      <tr> <td>2:45</td>  <td>Coffee/tea break</td> </tr>
      <tr> <td>3:00</td>  <td><a href="https://smcclatchy.github.io/statistical-inference-for-biology/03-inference-pse/index.html" target="_blank">Populations, Samples and Estimates</a></td> </tr>
      <tr> <td>3:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>4:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thursday, May 19</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td><a href="https://smcclatchy.github.io/statistical-inference-for-biology/04-inference-clt/index.html" target="_blank">Central Limit Theorem and the t-distribution</a></td> </tr>
      <tr> <td>1:50</td>  <td><a href="https://smcclatchy.github.io/statistical-inference-for-biology/05-inference-clt-practice/index.html" target="_blank">Central Limit Theorem in practice</a></td> </tr>
      <tr> <td>2:45</td>  <td>Coffee/tea break</td> </tr>
      <tr> <td>3:00</td>  <td><a href="https://smcclatchy.github.io/statistical-inference-for-biology/06-inference-ttests-practice/index.html" target="_blank">t-tests in practice</a></td> </tr>
      <tr> <td>3:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>4:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Monday, May 23</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td><a href="https://smcclatchy.github.io/statistical-inference-for-biology/07-inference-ci/index.html" target="_blank">Confidence Intervals</a></td> </tr>
      <tr> <td>2:45</td>  <td>Coffee/tea break</td> </tr>
      <tr> <td>3:00</td>  <td><a href="https://smcclatchy.github.io/statistical-inference-for-biology/08-inference-power-calc/index.html" target="_blank">Power Calculations</a></td> </tr>
      <tr> <td>3:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>4:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thursday, May 26</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td><a href="https://smcclatchy.github.io/statistical-inference-for-biology/09-inference-montecarlo/index.html" target="_blank">Monte Carlo simulation</a></td> </tr>
      <tr> <td>2:00</td>  <td><a href="https://smcclatchy.github.io/statistical-inference-for-biology/10-inference-permutations/index.html" target="_blank">Permutations</a></td> </tr>
      <tr> <td>2:45</td>  <td>Coffee/tea break</td> </tr>
      <tr> <td>3:00</td>  <td><a href=" https://smcclatchy.github.io/statistical-inference-for-biology/11-inference-assoc-tests/index.html" target="_blank"> Association tests</a></td> </tr>
      <tr> <td>3:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>3:50</td>  <td><a href="" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>4:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>


